/* Archive Page */

.archive #content {
  width: unset;
}

.storefront-breadcrumb nav{
  margin: 20px 0 0 0;
}

.col-full .woocommerce-products-header {
  padding: 2em;
  flex-direction: column;
  align-items: flex-start;

  .page-title {
    margin: 0;
  }

  .term-description {
    width: auto;

    p {
      margin: 0;
    }
  }
}

#primary {
  width: 100%;
}
#main.site-main {

  #archive-top-filters {
    margin-bottom: 2%;
    grid-template-columns: repeat(4, 1fr);

    .widget_custom_html {
      display: block;
      grid-column: 1 / -1;
    }

    .widget_product_categories {
      width: 100%;
      display: none;
      justify-content: flex-start;
      flex-wrap: wrap;
      grid-column: 1 / -1;

      .product-categories {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        li {
          padding-right: 2%;
          padding-left: 0;
          margin-bottom: 2%;

          a {
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 0.6em 1em;
            transition: all 0.3s ease;
            display: block;
            text-transform: capitalize;
            color: #999;

            &:focus {
              background-color: $lighter-gray;
            }
          }
        }
        .current-cat {
          &::before {
            display: none;
          }
          a {
            background-color: $primary;
            color: $white;
            border-color: $primary;
          }
        }
      }
    }
  }

  ul.products.columns-3 {

    @include reset_before_after;

    ul {
      display: none;
    }

    li.product {

      img {
        max-height: 170px;
      }
      height: 420px;

      .badge-wrapper {
        width: 100%;
      }

      .woocommerce-loop-product__title {
        max-width: 170px;
      }
    }
  }
}

.loadmore_button {
  margin: 0 auto;
}


// Popup filter

body.no-scroll {
  overflow: hidden;
}

#secondary.widget-area {
  position: fixed;
  right: -100%;
  z-index: 995;
  height: 100vh;
  background-color: #F3EFE7;
  padding: 0px 20px 50px 20px;
  box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.2);
  transition: right 0.5s ease;
  top: 0;
  margin: 0;
  width: 33%;
  overflow: auto;
}

#secondary.widget-area.visible {
  display: block;
  right: 0; /* Slide in from the right */
}

#elementor-library-3 {
  background-color: #F3EFE7;
  position: sticky;
  margin: 0;
  width: 100%;
  top: 0;
  padding-top: 50px;
}

// Popup filter end