/* Header */

#masthead {
    position: sticky;
    z-index: 999;
    background-color: $white;
    transition: 0.3s all;

    .header-wrapper {
      @include flexbox;
      justify-content: space-between;
      padding: 1em 0;
      position: relative;

      .image-logo {
        margin-right: 5em;

        img {
          max-height: 50px;
          width: auto;
        }
      }

      .header-search {
        .woocommerce-product-search {
          margin: 0;
        }
      }

      .navigation-header-content{
        margin: 0 1em;
        @include flexbox;
        justify-content: flex-end;
        width: 100%;

        .storefront-primary-navigation {
          width: inherit;
        }

        ul {
          transition: none;
        }
      }

      .header-cart-wrapper {

          .header-cart {
            position: relative;
            color: $primary;

            .cart-product-amount {
              position: absolute;
              padding: 1px;
              width: 17px;
              background: #2f2d3200;
              font-size: 11px;
              line-height: 10px;
              min-width: 13px;
              text-align: center;
              border-radius: 50%;
              border: 1px solid $primary;
              top: -13px;
              right: -14px;
              height: 17px;
              font-weight: $font-weight-normal;
              z-index: 20;
            }

            i {
              font-size: $h4-font-size;
            }
          }
        }
      }

}
