/* Page wrapper */

#page {
    max-width: 100%;
    margin: auto;
  	overflow-x: visible;
  }

  .site {
    background: $white;
  }

  /* Content wrapper */
  /* Container width | col-full */
  .col-full {
    width: inherit;
    max-width: 1680px !important;
    margin: auto;
  }

input {
  border-radius: $global-radius;
}

hr {
  margin: 0;
}

//elementor custom button style
.has-arrow span.elementor-button-icon {
  transition: all 0.5s ease;
}
.has-arrow .elementor-button-link:hover span.elementor-button-icon {
  transform: translateX(10px);
}

//Cookie button style
.cookie_btn {
  color: $primary;
  &:hover{
    color: $primary-hover;
  }
}
